@import './theme.css';
@import './button.css';

:root {
  color: var(--foreground);
  font-family: system-ui, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--background);
}

html, body, #app {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
} */
