name: "Deploy ZanoCompanion Test Suit to Github Pages"

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    name: Build and Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Enable Corepack
        run: |
          corepack enable
          corepack prepare yarn@stable --activate
      - run: pnpm install --frozen-lockfile
      - run: pnpm run predeploy
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
